<section>
  <div class="sm:flex space-x-2">
        {% if site.twitter %}
        <a href="{{site.twitter}}" target="_blank">
          <button
            class="bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <i class="fab fa-twitter"></i>
          </button>
        </a>
        {% endif %}

        {% if site.facebook %}
        <a href="{{site.facebook}}" target="_blank">
          <button
            class="bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <i class="fab fa-facebook"></i>
          </button>
        </a>
        {% endif %}

        {% if site.instagram %}
        <a href="{{site.instagram}}" target="_blank">
          <button
            class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <i class="fab fa-instagram"></i>
          </button>
        </a>
        {% endif %}

        {% if site.github %}
        <a href="https://github.com/{{ site.github }}" target="_blank">
          <button class="bg-gray-100 text-blueGray-800 shadow-lg font-normal py-2 px-2 rounded text-gray-500 hover:bg-gray-200">
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" /></svg>
          </button>
        </a>
        {% endif %}

        {% if site.telegram %}
        <a href="https://t.me/{{ site.telegram }}" target="_blank">
          <button class="bg-gray-100 text-blueGray-800 shadow-lg font-normal py-2 px-2 rounded text-gray-500 hover:bg-gray-200">
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4"/></svg>
          </button>
        </a>
        {% endif %}

        {% if site.medium %}
        <a href="{{site.medium}}" target="_blank">
          <button
            class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <i class="fab fa-medium"></i>
          </button>
        </a>
        {% endif %}

        {% if site.google-scholar %}
        <a href="{{site.google-scholar}}" target="_blank">
          <button
            class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <i class="fas fa-graduation-cap"></i>
          </button>
        </a>
        {% endif %}

        {% if site.email %}
        <a href="mailto:{{ site.email }}" target="_blank">
          <button class="bg-gray-100 text-blueGray-800 shadow-lg font-normal py-2 px-2 rounded text-gray-500 hover:bg-gray-200">
            <svg class="w-6 h-6" fill="currentColor" viewBox="-2 1 20 15" aria-hidden="true"><path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/></svg>
          </button>
        </a>
        {% endif %}
  </div>
</section>